{{#each sections}}
<section>
  <h1>{{title}}</h1>
  <ul>
    {{#each bookmarks}}
    <li>
      <a href="{{url}}" target="_blank">{{title}}</a>
      {{#if description}}
      <p>{{description}}</p>
      {{/if}}
      <span>{{datetime}}</span>
      <ul>
        {{#each tags}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</section>
{{/each}}
<section>
  <h1>Unassigned</h1>
  <ul>
    {{#each unassigned}}
    <li>
      <a href="{{url}}" target="_blank">{{title}}</a>
      {{#if description}}
      <p>{{description}}</p>
      {{/if}}
      <span>{{datetime}}</span>
      <ul>
        {{#each tags}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</section>
