<div class="row">
  <section class="page-month col-xs-6 col-xs-offset-3">
    <header>
      <h1 class="title">Quick Links for {{month}}, {{year}}</h1>
    </header>
    {{#each sections}}
      <section class="link-section">
        <h1 class="title">{{title}}</h1>
        <ul class="link-section-links list-unstyled">
          {{#each bookmarks}}
            <li class="link">
              <a href="{{url}}" target="_blank">{{title}}</a>
              {{#if description}}
                <p class="link-description">{{description}}</p>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </section>
    {{/each}}
  </section>
</div>
